<h1> event new </h1>
<div class="row">
  <div class="row">
    <%= form_for(@event, url: admin_events_path) do |f| %>
      <div class=row>
      <div class="input-field col s10 m8">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="col s10 m8">
        <%= f.label :date %>
        <%= f.text_field :date, class: 'datepicker' %>
      </div>
      <%= f.check_box :is_allow_comment, name: 'event_is_allow_comment', checked: true, class: "filled-in", id: 'fileed-in-box', :as => :boolean %>
    
      <div class="input-field col s10 m8">
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <%= f.file_field :thumbnail, class: 'dropify' %>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>
  
      <div class="input-field col s10 m8">
        <%= f.label :map %>
        <%= f.text_area :map, class: 'form-control' %>
      </div>
      
      <div class='col s12 m8'>
        <% (0..11).each do |i| %>
          <div class='row map-row'>
            <% (0..11).each do |j| %>
              <%= content_tag(:div, "[#{ i.to_s + ',' + j.to_s}]" ,class: 'col s1 map-cell', name: 'map[]', value: "#{ i.to_s + ':' + j.to_s}") %>
            <% end %>
          </div>
        <% end %>
      </div>
      

      <div class="col s10 m8">
        <%= f.submit "Submit", class: 'btn', id: 'j_sbmit', disable_with: 'Submiting...' %>
      </div>
    <% end %>
  </div>
</div>

<script>
  let map_input = $('#event_map');
  let map_array = [];

  let maps = Array(12).fill('');
  for (let index = 0; index < maps.length; index++) {
    maps[index] = Array(12);
    
  }


  $(document).ready(function(){
    $('.datepicker').datepicker();
  });

  $(document).ready(function(){
    $('.timepicker').timepicker();
  });

  $('.map-cell').click(function() {
    clickText = $(this).context.textContent;

    if($(this).hasClass("clicked")){ // クリックされた要素がclickedクラスだったら
      $(this).removeClass("clicked");
      var index = map_array.indexOf(clickText);
      if(index >= 0){
        map_array.splice(index, 1); 
      }
    }else{
      $(this).addClass("clicked");
      q = clickText.replace('[', '').replace(']', '').split(',')
      maps[Number(q[0])][ Number(q[1])] = 0
      map_array.push(clickText)
    }
  });

  $('#j_sbmit').click(function(){
    map_input.val(maps)
  });
</script>
<style>
.map-row{
  margin: 0px;
}
.clicked{
  background-color: #f00;
}
.map-cell{
  margin: 1px 0px;
}

</style>