<h1> event new </h1>
<div class="row">
  <div class="row">
    <%= form_for(@event, url: admin_events_path) do |f| %>
      <div class="input-field col s10 m8">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="col s10 m8">
        <%= f.label :date %>
        <%= f.text_field :date, class: 'datepicker' %>
      </div>
      <%= f.check_box :is_allow_comment, name: 'event_is_allow_comment', checked: true, class: "filled-in", id: 'fileed-in-box', :as => :boolean %>
      
      <div class="input-field col s10 m8">
        <%= f.label :map %>
        <%= f.text_field :map, class: 'form-control' %>
      </div>
      <div class="col s10 m8">
        <%= f.submit "Submit", class: 'btn', disable_with: 'Submiting...' %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });

  $(document).ready(function(){
    $('.timepicker').timepicker();
  });
</script>