<div id="masonry-grid" class="row">
  <div class="col s6 m4">
    <div class="card">
      <div class="card-image">
        <%= image_tag "background1.jpg" %>
        <span class="card-title"><%= @event.name %></span>
      </div>
      <div class="card-content">
        <p><%= @event.description %></p>
      </div>
    </div>
  </div>
</div>
<%= link_to  "新しいコンテンツを作成しよう", new_admin_event_content_path(@event.id), id: 'download-button', class: 'btn-large waves-effect waves-light teal lighten-1' %>
<div id="masonry-grid" class="row">
  <% @event.contents.each do |content| %>
    <div class="col s4 m3">
      <div class="card">
        <div class="card-image">
          <p><%= image_tag content.image %></p>
          <span class="card-title"><%= content.name %></span>
        </div>
        <div class="card-content">
          <p><%= content.body %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
